.po-form {
  font-family: helvetica;
  padding: 10px;
  max-width: 1000px;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 7px;
}

.break {
  border-bottom: 2px solid #999;
  margin-bottom: 10px;
}

.po-form table {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 10px;
  font-size: 0.9em;
  border-collapse: collapse;
}

input[disabled] {
  color: #333;
  cursor: not-allowed;
}

table .label {
  text-align: right;
  color: #999;
  font-size: 0.9em;
}
.label.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-bold {
  font-weight: bold;
}
.text-uppercase {
  text-transform: uppercase;
}

.big-text {
  font-size: 1.3em;
  font-weight: bold;
}

.po-general-table td,
.po-addresses td {
  padding: 4px 4px 4px 0;
}
.po-general-table td:last-child {
  padding-right: 0;
}

.po-general-table td:nth-child(1),
.po-general-table td:nth-child(3) {
  width: 1px;
  white-space: nowrap;
}

.po-addresses td:nth-child(1),
.po-addresses td:nth-child(3),
.po-addresses td:nth-child(5),
.po-addresses td:nth-child(7) {
  width: 1px;
  white-space: nowrap;
}

.consumables td:nth-child(1),
.consumables td:nth-child(2),
.consumables td:nth-child(4),
.consumables td:nth-child(5) {
  width: 1px;
  white-space: nowrap;
}

.consumables thead td:nth-child(2) {
  padding: 7px 28px 7px 7px;
}
.consumables thead td:nth-child(4) {
  padding: 7px 7px 7px 28px;
}
.consumables thead td:nth-child(5) {
  padding: 7px 7px 7px 28px;
}

.po-form select {
  width: 100%;
  padding: 3px;
  border-color: #ccc;
}

table .line {
  border-bottom: 1px solid #ccc;
}
table .line td {
  padding: 0px;
}

.po-form thead tr:nth-child(1) td,
.po-form thead tr:nth-child(2) td {
  white-space: nowrap;
}
.po-form thead td {
  font-weight: bold;
}
.equipment td,
.consumables td {
  padding: 7px;
  vertical-align: middle;
}

.po-form thead tr {
  border: 1px solid #ccc;
  background-color: #ddd;
}
.po-form thead tr {
  border: 1px solid #ccc;
  background-color: #ddd;
}

.po-form thead .first td:nth-child(2) {
  width: 100%;
}
.po-form thead .first td:nth-child(3) {
  padding: 7px 22px 7px 7px;
}
.po-form thead .first td:nth-child(6) {
  padding: 7px 50px 7px 7px;
}
.po-form thead .first td:nth-child(7) {
  padding: 7px 30px 7px 7px;
}
.po-form thead .first td:nth-child(8) {
  padding: 7px 20px 7px 7px;
}
.po-form thead .first td:nth-child(9) {
  padding: 7px 7px 7px 32px;
}

.first td {
  border-bottom: 1px solid #ccc;
}
.first td[rowspan="2"] {
  border-bottom: none;
}

.po-form td:nth-child(8),
.po-form td:nth-child(9) {
  text-align: right;
}

.po-form td[rowspan="2"]:first-child {
  text-align: center;
}
.po-form td[rowspan="2"] {
  vertical-align: middle;
}

.rate-input,
.table-field,
[contenteditable] {
  width: 46px;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #aaa;
  padding: 4px;
}

.table-field, [contenteditable] {
  width: 100%;
  box-sizing: border-box;
}

.po-form ::-webkit-input-placeholder {
    color: #d0d0d0;
}
.po-form :-moz-placeholder {
   color: #d0d0d0;
   opacity:  1;
}
.po-form ::-moz-placeholder {
   color: #d0d0d0;
   opacity:  1;
}
.po-form :-ms-input-placeholder {
   color: #d0d0d0;
}

[contenteditable]:empty:not(:focus):before {
  content:attr(data-ph);
  color: #d0d0d0;
}

td.delete-td {
  position: relative;
  padding: 0px;
}
.delete-row-button {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  background-color: hsl(0,50%,50%);
  border-radius: 20px;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

tr:hover > td .delete-row-button,
.equipment-item:hover .delete-row-button:before  {
  margin-left: 0;
  opacity: 1;
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}

table.totals {
  width: auto;
  margin: 0 0 10px auto;
  text-align: right;
}
.totals td {
  padding: 5px;
}
.totals .table-field:not(.small-input):not(.medium-input) {
  width: 150px;
  font-size: 1.1em;
  text-align: right;
}

.small-input {
  width: 25px;
}
.medium-input {
  width: 75px;
}

.equipment-item {
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  margin-bottom: 5px;
}

.equipment-item table {
  margin-bottom: 0;
}

.equipment-item table tr:first-child {
  border: 1px solid #ccc;
  background-color: #ddd;
}

.equipment-item:nth-child(2n) table {
  background-color: #f2f2f2;
}
.equipment-item table td {
  padding: 3px;
  vertical-align: middle;
  white-space: nowrap;
}

.equipment-item td.price {
  width: 120px;
  padding-bottom: 5px;
}
/*.equipment-item tr:nth-child(5) td:nth-child(6),
.equipment-item tr:nth-child(5) td:nth-child(10) {
  width: 98px;
}*/
tr.sizing-row td {
  padding: 0px;
}
.equipment-item .sizing-row td:nth-child(10),
.equipment-item .sizing-row td:nth-child(8),
.equipment-item .sizing-row td:nth-child(6) {
  width: 90px;
}

.equipment-item .sizing-row td:nth-child(4) {
  width: 75px;
}

.unit-number {
  float: right;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.3em;
  vertical-align: middle;
  color: #666;
}

td.price input {
  text-align: right;
  font-weight: bold;
  font-size: 1.1em;
}

table .label {
  text-align: right;
  color: #999;
  font-size: 0.9em;
}

.po-form select {
  width: 100%;
  padding: 3px;
  border-color: #ccc;
}

.note-box {
  min-height: 125px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.file-box {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

.file {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 20px 10px;
  padding-right: 39px;
  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 0.85em;
  transition: 0.3s;
}
.file:hover {
  background-color: #ddd;
}

.file .delete {
  position: absolute;
  box-sizing: border-box;
  right: 6px;
  top: 50%;
  margin-top: -10px;
  background-color: hsl(5,10%,50%);
  border: 1px solid hsl(5,10%,40%);
  padding-top: 1px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  border-radius: 50px;
  color: white;
  transition: 0.3s;
}
.file .delete:hover {
  background-color: hsl(5,50%,50%);
  border-color: hsl(5,50%,40%);
}
