.record_table {
    width: 100%;
    border-collapse: collapse;
}
.record_table tr:hover {
    background: #eee;
}
.record_table td {
    border: 1px solid #eee;
}
.highlight_row {
    background: #eee;
}
.limited_container {
    border:2px solid #ccc;
    width:450px;
    height:250px;
    overflow-y: scroll;
}
